.grid-background{
    width: 500px;
    height: 500px;
    
}
.grid-background{
  display: grid;
  background-color: #bbada0;
  grid-gap: 10px ;
  padding: 10px;
  }
.grid-item {
  background: rgba(238,228,218,.35);

  padding: 20px;
  font-size: 30px;
  text-align: center;
}