
.game {
    width: 520px;
    height: 520px;
    position: relative;
}

.button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
    font-weight: 700;
    font-size: 20px;
}