.tile {
    color: #776e65;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: clear sans, helvetica neue, Arial, sans-serif;
    position: absolute;
}